body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #111;
  color: white;
}

#touchpad {
  width: 90%;
  height: 70%;
  background: #222;
  border-radius: 15px;
  margin-bottom: 20px;
  touch-action: none;
}

#clickBtn {
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #4caf50;
  color: white;
  font-size: 18px;
}
